<!DOCTYPE html>
<html ng-app="ToDo">
<head lang="en">
    <meta charset="UTF-8">
    <title>ToDo List App</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/angular2.js"></script>
</head>
<body>
<div id="body">
    <div class="container"> 
        <div class = "row jumbotron shadow">
            <div class="col-md-8 col-md-offset-2" ng-controller="TodoController as todo"> 
                <!-- Load Modal-->
                <modal></modal>
                <!-- End of modal-->
               <div class="col-md-offset-2">   
                    <h2 id="listTitle">What needs to be done?</h2>
               </div>
            <div id="form">
               <div class="form-group">                   
                   <input id="textBox" ng-model = "todo.text"placeholder = "Add a new task..." class="form-control input-lg">
                   <div class="alert alert-danger msg" ng-show="todo.msg" ng-click="todo.toFalse()">
                        Cannot submit an empty field (Click to hide message)
                   </div>
               </div>
               <div class="form-group">
                   <select class="form-control input-lg msg" ng-model="todo.myPrior" ng-options="ti.name for ti in todo.priority">
                      <option value="">Select a priority..(Default: Low)</option>
                   </select>
               </div>
                <div class="col-md-12">
                    <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#loadModal">Click for info</button>
                    <button ng-click="todo.addTodo()" class="btn btn-primary btn-lg" type="addButton" data-toggle="tooltip" data-placement="left" title="Click to add an entry to the list">
                    Add</button>
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Clear All</button>
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#listModal">Save List</button>
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#reModal">Retrieve List</button>
                    <button class="btn btn-primary btn-lg" ng-click="todo.clearList()" data-toggle="modal" data-target="#creModal">Create New List</button>
                </div>
                <div id="ToDoListTable">
                    <div class="col-md-offset-8 tell alert alert-info"> 
                       You added {{todo.data.length}} Task(s). You have {{todo.data.length - todo.uncompleted()}} 
                       Completed and {{todo.uncompleted()}} Uncompleted entry
                    </div>
                    <div class="listname alert alert-info">List Name: {{todo.listName}}</div>
                    <div ng-repeat="to in todo.data">
                        <div class="col-xs-5 col-md-offset-10">
                            <label>
                                <input type="checkbox" name="checkboxName" ng-model="to.complete" class="checkbox"/>
                                <span class="complete">{{to.completed}}</span>
                                <div class="switch" ng-click="todo.toClass(to)" ng-class="{switchOn: to.com}"></div>
                            </label>
                        </div>
                         <div class="alert alert-{{to.warning}} alert-dismissable list">
                            <button type="button" ng-click="todo.removeList(to, $index)" class="close" aria-hidden="true">&times;</button>
                            <button id="edit" type="button" class="close" ng-hide="to.hideEdit" aria-hidden="true" ng-click="todo.hideWindow(to)">Edit</button> 
                            <button id="edit" type="button" class="close" ng-hide="to.hideSave" aria-hidden="true" ng-click="todo.saveWindow(to)">Save</button>
                            <span id="text" ng-hide="to.hideText">{{to.text}}</span>
                            <span class="time">{{to.date | date:'medium'}}</span>
                            <input type="text" class="form-control input-lg" ng-model="to.text" ng-hide="to.hideInput">
                         </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
</body>
    <script src="js/app/app.js"></script>
    <script src="js/app/todo/todo.js"></script>
    <script src="js/app/todo/controllers/todoController.js"></script>
    <script src="js/app/todo/services/services.js"></script>
    <script src="js/app/todo/directives/modal-directive.js"></script>
    <script src="js/vendor/bootstrap.js"></script>
</html>

