<!DOCTYPE html>
<html ng-app="ToDo">
<head lang="en">
    <meta charset="UTF-8">
    <title>ToDo List App</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/angular2.js"></script>
</head>
<body>
<div id="body">
    <div class="container"> 
        <div class = "row jumbotron shadow">
            <div class="col-md-8 col-md-offset-2" ng-controller="TodoController as todo"> 
                <!-- Load Modal-->
                <div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Welcome to AndelTODO</h4>
                            </div>
                           <div class="modal-body">
                              <p>This is a simple TODO app built with Angularjs. Although still Buggy, it is useful.</p>
                              <p>The TODO app utilises DOMstorage. You can save your list, create new ones and also retrieve your old lists.</p>
                              <p>When you click retrieve list, you may find strange lists. this are the stored sessions
                                in your browser. You just have to locate your stored list</p>
                              <p>Enjoy!!!</p>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                    </div>
                </div>
                <!-- End of load modal-->
                <!-- Clear all modal-->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Clear All</h4>
                            </div>
                           <div class="modal-body">
                              <p>Are You sure you want to clear the List</p>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" ng-click="todo.clearAll()">Clear all</button>
                           </div>
                        </div>
                    </div>
                </div>
                <!-- End of clear all modal-->
                <!-- Save list modal modal-->
                <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Save List(No space in the list name)</h4>
                            </div>
                           <div class="modal-body">
                              <div class="form-group">                   
                                   <input id="textBox" ng-model = "todo.listName" placeholder = "Name of List..." class="form-control input-lg">
                                   <div class="alert alert-danger msg" ng-show="todo.listmsg" ng-click="todo.off()">
                                       The name of the list Should not contain space or be empty(click to hide)
                                   </div>
                              </div>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" ng-click="todo.saveList()">Save</button>
                           </div>
                        </div>
                    </div>
                </div>
                <!-- End of save list modal-->
                <!-- create list modal modal-->
                <div class="modal fade" id="creModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Create List(No space in the list name)</h4>
                            </div>
                           <div class="modal-body">
                              <div class="form-group">                   
                                   <input id="textBox" ng-model = "todo.listName"placeholder = "Name of List..." class="form-control input-lg">
                                   <div class="alert alert-danger msg" ng-show="todo.listmsg" ng-click="todo.off()">
                                       The name of the list Should not contain space or be empty(click to hide)
                                   </div>
                              </div>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" ng-click="todo.createList()">Create</button>
                           </div>
                        </div>
                    </div>
                </div>
                <!-- End of create list modal-->
                 <!-- Retrieve all modal-->
                <div class="modal fade" id="reModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Retrieve List</h4>
                            </div>
                           <div class="modal-body">
                               <button class="btn btn-primary"ng-repeat="store in todo.storedList" ng-click="todo.reList($index)">{{store}}</button>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                    </div>
                </div>
                <!-- End of retrieve all modal-->
                <!-- Edit list modal modal-->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Edit List</h4>
                            </div>
                           <div class="modal-body">
                              <div class="form-group">                   
                                   Broken for now
                              </div>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" ng-click="todo.saveList()">Save</button>
                           </div>
                        </div>
                    </div>
                </div>
                <!-- End of edit list modal-->
               <div class="col-md-offset-2">   
                    <h2 id="listTitle">What needs to be done?</h2>
               </div>
            <div id="form">
               <div class="form-group">                   
                   <input id="textBox" ng-model = "todo.text"placeholder = "Add a new task..." class="form-control input-lg">
                   <div class="alert alert-danger msg" ng-show="todo.msg" ng-click="todo.toFalse()">
                        Cannot submit an empty field (Click to hide message)
                   </div>
               </div>
                <div class="col-md-12">
                    <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#loadModal">Click for info</button>
                    <button ng-click="todo.addTodo()" class="btn btn-primary btn-lg" type="addButton" data-toggle="tooltip" data-placement="left" title="Click to add an entry to the list">
                    Add</button>
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Clear All</button>
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#listModal">Save List</button>
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#reModal">Retrieve List</button>
                    <button class="btn btn-primary btn-lg" ng-click="todo.clearList()" data-toggle="modal" data-target="#creModal">Create New List</button>
                </div>
                <div id="ToDoListTable">
                    <div class="col-md-offset-8 tell alert alert-info"> 
                       You added {{todo.data.length}} List(s). You have {{todo.data.length - todo.uncompleted()}} 
                       Completed and {{todo.uncompleted()}} Uncompleted entry
                    </div>
                    <div class="listname alert alert-info">List Name: {{todo.listName}}</div>
                    <div ng-repeat="to in todo.data">
                        <div class="col-xs-5 col-md-offset-10">
                            <label>
                                <input type="checkbox" name="checkboxName" ng-model="to.complete" class="checkbox"/>
                                <span class="complete">{{to.completed}}</span>
                                <div class="switch" ng-click="todo.toClass(to)" ng-class="{switchOn: to.com}"></div>
                            </label>
                        </div>
                         <div class="alert alert-{{to.warning}} alert-dismissable list">
                            <button type="button" ng-click="todo.removeList(to, $index)" class="close" aria-hidden="true">&times;</button>
                            <button id="edit" type="button" class="close" ng-hide="to.hideEdit" aria-hidden="true" ng-click="todo.hideWindow(to)">Edit</button> 
                            <button id="edit" type="button" class="close" ng-hide="to.hideSave" aria-hidden="true" ng-click="todo.saveWindow(to)">Save</button>
                            <span id="text" ng-hide="to.hideText">{{to.text}}</span>
                            <input type="text" class="form-control input-lg" ng-model="to.text" ng-hide="to.hideInput">
                         </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
</body>
    <script src="js/load.js"></script>
    <script src="js/todo.js"></script>
    <script src="js/bootstrap.js"></script>
</html>